/*
Colors (https://colorhunt.co/palette/ff6b6bffd93d6bcb774d96ff):
- red: #FF6B6B
- yellow: #FFD93D
- green: #6BCB77
- blue: #4D96FF
- gray: #A5A5A5
*/

:root {
    --primary-color: #24292E;
    --red-color: #FF6B6B;
    --yellow-color: #FFD93D;
    --green-color: #6BCB77;
    --blue-color: #4D96FF;
    --gray-color: #A5A5A5;
}

.page {
    background-color: rgb(244, 244, 244);
}

img.logo {
    height: 2.4rem;
    margin-top: 0.5rem;
}

h1.title,
h1.title a {
    color: var(--primary-color);
    margin-top: 0.1rem;
    margin-bottom: 0.7rem !important;
}

img.badge {
    height: 1rem;
}

.columns.content-columns .column {
    padding-top: 0.1rem;
}

h3 {
    color: var(--primary-color);
    font-size: 0.9em;
    padding-bottom: 0.2em;
    padding-top: 0.5rem;
    font-weight: 600;
}

pre, pre code.hljs {
    padding: 0.15rem 0.3rem;
    font-size: 0.7em;
    line-height: 1.4;
}

pre code .is-underlined {
    text-decoration-thickness: 1.5px !important;
}

.underlined-red {
    text-decoration-color: var(--red-color) !important;
}
.underlined-yellow {
    text-decoration-color: var(--yellow-color) !important;
}
.underlined-green {
    text-decoration-color: var(--green-color) !important;
}
.underlined-blue {
    text-decoration-color: var(--blue-color) !important;
}

.group {
    background-color: #FBFBFB;
    margin-bottom: 0.45em;
    border-left: 1px solid var(--primary-color);
}

.group h4 {
    padding-left: 0.6em;
    padding-top: 0.2em;
    color: var(--primary-color);
    font-size: 0.75em;
    font-weight: 600;
}

.group a {
    color: var(--primary-color);
}

.group .icon {
    float: right;
    margin-bottom: -1.5rem;
}

.group p {
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--primary-color);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.2rem;
}

.group p.description {
    font-size: 0.5rem;
    font-weight: 500;
    padding-top: 0;
}

.group svg {
    width: 0.8em;
    height: 0.8em;
}

.group pre {
    background-color: #FFFFFF;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 7rem;
    max-height: 5rem;
    padding: 0.2rem;
}

.image img.width-8 {
    max-width: 8rem;
}

.image img.width-9 {
    max-width: 9rem;
}

.image img.width-10 {
    max-width: 10rem;
}

.image img.width-15 {
    max-width: 15rem;
}

.info-columns-1 {
    margin-top: -3.4rem;
}

.info-columns-2 {
    margin-top: -3rem;
}

.infos {
    font-size: 0.63rem;
}

.infos-small {
    font-size: 0.5rem;
}
